#Guest__gauge > g {
  opacity: 0;
}
#Guest__Icon{
  fill: #808080;
}
#Guest__speaking:target #Guest__Icon{
  filter: url(#filter0_dd_27_1822);
  fill: #ffffff;
}
#Guest__speaking:target #Guest__gauge > g{
  animation-name: blink-mator1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(1) {
  animation-delay: -3.5s;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(2) {
  animation-delay: 4.3s;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(3) {
  animation-delay: -5.8s;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(4) {
  animation-delay: 1.3s;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(5) {
  animation-delay: -2.4s;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(6) {
  animation-delay: 3.5s;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(7) {
  animation-delay: -4.3s;
}
#Guest__speaking:target #Guest__gauge > g:nth-of-type(8) {
  animation-delay: 5.8s;
}
@keyframes blink-mator1 {
  0%{
    opacity: 0.1;
  }
  9.95%{
    opacity: 0.1;
  }
  10%{
    opacity: 1;
  }
  10.05%{
    opacity: 0.1;
  }
  12.9%{
    opacity: 1;
  }
  12%{
    opacity: 1;
  }
  19.9%{
    opacity: 1;
  }
  20%{
    opacity: 0.1;
  }
  20.1%{
    opacity: 1;
  }
  22.9%{
    opacity: 0.1;
  }
  23.9%{
    opacity: 0.1;
  }
  24%{
    opacity: 1;
  }
  39.95%{
    opacity: 1;
  }
  40%{
    opacity: 0.1;
  }
  40.05%{
    opacity: 1;
  }
  42.9%{
    opacity: 0.1;
  }
  69.95%{
    opacity: 0.1;
  }
  70%{
    opacity: 1;
  }
  70.05%{
    opacity: 0.1;
  }
  72.9%{
    opacity: 1;
  }
  89.90%{
    opacity: 1;
  }
  89.95%{
    opacity: 0.1;
  }
  90%{
    opacity: 1;
  }
  90.05%{
    opacity: 0.1;
  }
  92.9%{
    opacity: 1;
  }
  95%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
